@use 'sass:list'

@mixin transition($transition: all, $duration: $transition-duration)
  transition-property: $transition
  transition-duration: $duration
  transition-timing-function: ease-in

@mixin ui-space($direction, $size)
  @if ($direction == top)
    margin-top: $ui-step * $size

  @if ($direction == bottom)
    margin-bottom: $ui-step * $size

  @if ($direction == left)
    margin-left: $ui-step * $size

  @if ($direction == right)
    margin-right: $ui-step * $size

  @if ($direction == gap)
    gap: $ui-step * $size

@mixin breakpoint($breakpoint, $direction: max)
  @if map-has-key($breakpoints, $breakpoint)
    $breakpoint-value: map-get($breakpoints, $breakpoint)

    @if ($direction == min)
      @media (min-width: $breakpoint-value)
        @content

    @else
      @media (max-width: $breakpoint-value)
        @content

  @else
    @warn 'Invalid breakpoint: #{$breakpoint}.'

@mixin font-face($font-name, $path, $weight: normal, $style: normal)
  @font-face
    font-family: quote($font-name)
    src: url($path+".woff2") format("woff2"), url($path+".woff") format("woff")
    font-weight: $weight
    font-style: $style

@mixin border($border-size: $border-thin, $direction: all)
  @if ($direction == vertical)
    border-top: $border-size solid $light-color
    border-bottom: $border-size solid $light-color

  @if ($direction == horizontal)
    border-left: $border-size solid $light-color
    border-right: $border-size solid $light-color

  @if ($direction == all)
    border: $border-size solid $light-color

@mixin glitch-copy
  content: attr(data-text)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

@mixin retro-filter
  position: relative

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: radial-gradient(ellipse, #0000, #0007), linear-gradient(0deg, #9725, #9725),
    background-size: auto, auto, auto, cover
    background-repeat: repeat
    background-position: center
    filter: blur(0.05rem) saturate(0.7) contrast(1.5) brightness(1.2)

@mixin container()
  // it's backwards because of overriding mediaqueries
  @for $i from length($breakpoints) to 1

    +breakpoint(list.nth(list.nth($breakpoints, $i), 1))
      @if(contains($xs-breakpoints, list.nth(list.nth($breakpoints, $i), 1)))
        width: 100%
        padding: 0 $ui-step-outer

      @else if(contains($sm-breakpoints, list.nth(list.nth($breakpoints, $i), 1)))
        width: 100%
        padding: 0 $ui-step-outer * 2

      @else
        max-width: calc(list.nth(list.nth($breakpoints, $i - 1), 2) - 2 * $ui-step-outer * 2)
        padding: 0 $ui-step-outer * 2

@mixin custom-cursor-pointer
  @media ($mouse-device)
    cursor: none

@mixin portrait
  @media(orientation: portrait)
    @content
