$dark-color: #252525
$light-color: #F1F0EA
$fallback-color: #111111

$transition-duration: 0.3s
$transition-duration-long: 0.5s

$ui-step: 5px
$ui-step-inner: $ui-step
$ui-step-outer: $ui-step * 2

$base-font-size: 16px

$border-thin: 1px
$border-thick: 2px

$mouse-device: '(hover: hover) and (pointer: fine)'
$screen-device: '(hover: none) and (pointer: coarse)'

$breakpoints: ('xxs': 320px, 'xs': 480px, 'sm': 640px, 'md': 800px, 'lg': 960px, 'xl': 1200px, 'xxl': 1440px, 'xxxl': 1920px)

$xs-breakpoints: ('xxs', 'xs')
$sm-breakpoints: ('sm', 'md')
